<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- ** 基本參數設定 ** -->
    <add key="WebName" value="寶工內部網站"/>
    <add key="WebUrl" value="http://localhost/PKHome/"/>
    <add key="CDNUrl" value="https://cdn.prokits.com.tw/"/>
    <add key="ApiUrl" value="https://api.prokits.com.tw/"/>
    <add key="RefUrl" value="http://localhost:8081/"/>
    <!-- DES Key,8碼英文 -->
    <!--<add key="DesKey" value="zQRuG1tq" />-->
    <!-- ** 連線參數設定 ** -->
    <add key="dbCon_PKSYS" value="server=localhost;database=PKSYS;uid=sa;pwd=piggy;"/>
    <!--<add key="dbCon_PKSYS" value="server=PKDB\PKSQL;database=PKSYS;uid=efsql;pwd=EfSql!2#;"/>-->
    <add key="dbCon_PKSYS_ANA" value="server=localhost;database=PKSYS;uid=sa;pwd=piggy;"/>
    <add key="dbCon_Product" value="server=localhost;database=ProductCenter;uid=sa;pwd=piggy;"/>
    <add key="dbCon_PKEF" value="server=localhost;database=PKEF;uid=sa;pwd=piggy;"/>
    <add key="dbCon_EFGP" value="server=PKDB\PKSQL;database=EFGP;uid=efsql;pwd=EfSql!2#;"/>
    <add key="dbCon_Report" value="server=localhost;database=ReportCenter;uid=sa;pwd=piggy;"/>
    <add key="dbCon_PKExcel" value="server=localhost;database=PKExcel;uid=sa;pwd=piggy;"/>
    <!-- ** 系統Email ** -->
    <add key="SysMail_Sender" value="pkmailman@mail.prokits.com.tw"/>
    <!-- FTP參數設定 -->
    <add key="File_Folder" value="PKHome/"/>
    <add key="FTP_Username" value="ftpuser"/>
    <add key="FTP_Password" value="test1234"/>
    <add key="FTP_Url" value="ftp://localhost/"/>
    <!--\\PKRC9\PKResource\-->
    <add key="FTP_DiskUrl" value="D:\_ftpTemp\"/>
    <!-- Select PDF 元件金鑰 -->
    <add key="PDF_Key" value="ZE9VRFZRVURdVERVUkpURFdVSlVWSl1dXV0=" />
    
    <!-- UnobtrusiveValidation功能移除 -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- [上傳設定]上傳大小(預設值 4096KB<4 MB>, 上限 2097151KB<2 GB>, 目前 200 MB, 單位KB)-->
    <httpRuntime maxRequestLength="204800" executionTimeout="900" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>

    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <!-- 新增自訂控制項 -->
        <add tagPrefix="asp" namespace="CustomController"/>
      </controls>
    </pages>
  </system.web>
  <!-- SmtpClient 宣告 Start -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.prokits.com.tw" port="25" userName="pkmailman" password="PK!@#mail"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- SmtpClient 宣告 End -->
  <system.webServer>
    <!-- 強迫轉址至https -->
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found"
                  url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
    <!-- [上傳設定]IIS7 檔案上傳限制(200MB = 1024*1024*200)-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200"/>
      </requestFiltering>
    </security>
    <!--移除相容性檢視-->
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge"/>
      </customHeaders>
    </httpProtocol>
    <!--瀏覽器快取 d.hh:mm:ss (7天)-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
    </staticContent>
    <!--<httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/error.aspx" responseMode="ExecuteURL" />
    </httpErrors>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>