<!DOCTYPE html>
@using PKLib_Method.Methods
@using Menu3000Data.Controllers

<html>
<head>
    <title>test</title>
</head>
<body>
    <h2>Hello</h2>
    <h4></h4>
    @DateTime.Now
    <p></p>
    @Cryptograph.Encrypt("Hello")
    <h4>
        Test view
    </h4>

</body>
</html>
